force-app/main/default/flows/Analyze_Repair_Case-1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Take_Action_If_Out_of_Stock</name>
        <label>Take Action If Out of Stock</label>
        <locationX>299</locationX>
        <locationY>489</locationY>
        <defaultConnector>
            <targetReference>Request_Unavailable_Parts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Part In Stock</defaultConnectorLabel>
        <rules>
            <name>Initiate_Procurement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>curInventoryStatus.InventoryStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Out_of_Stock</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_Part_Order_Request</targetReference>
            </connector>
            <label>Initiate Procurement</label>
        </rules>
    </decisions>
    <interviewLabel>Analyze Repair Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Analyze Repair Case</label>
    <loops>
        <name>Request_Unavailable_Parts</name>
        <label>Obtain Parts</label>
        <locationX>185</locationX>
        <locationY>332</locationY>
        <assignNextValueToReference>curRequiredPart</assignNextValueToReference>
        <collectionReference>NeededParts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Inventory_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Orchestration_0_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Generate_Part_Order_Request</name>
        <label>Generate Part Order Request</label>
        <locationX>548</locationX>
        <locationY>490</locationY>
        <connector>
            <targetReference>Request_Unavailable_Parts</targetReference>
        </connector>
        <inputAssignments>
            <field>RepairPartId__c</field>
            <value>
                <elementReference>curRequiredPart.AnotherRepairPartLookup__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Repair_Part_Name__c</field>
            <value>
                <elementReference>curRequiredPart.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RequestType__c</field>
            <value>
                <stringValue>Estimate</stringValue>
            </value>
        </inputAssignments>
        <object>ElectronPartOrderRequest__e</object>
    </recordCreates>
    <recordCreates>
        <name>Update_Orchestration</name>
        <label>Update Orchestration</label>
        <locationX>162</locationX>
        <locationY>98</locationY>
        <connector>
            <targetReference>Get_Required_Parts</targetReference>
        </connector>
        <inputAssignments>
            <field>Label__c</field>
            <value>
                <stringValue>Analyzing Repair Procedure</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_ID__c</field>
            <value>
                <elementReference>curRepairProcedure.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Name__c</field>
            <value>
                <stringValue>Repair Procedure</stringValue>
            </value>
        </inputAssignments>
        <object>OrchestrationStatusUpdate__e</object>
    </recordCreates>
    <recordCreates>
        <name>Update_Orchestration_0</name>
        <label>Update Orchestration</label>
        <locationX>332</locationX>
        <locationY>269</locationY>
        <connector>
            <targetReference>Request_Unavailable_Parts</targetReference>
        </connector>
        <inputAssignments>
            <field>Label__c</field>
            <value>
                <stringValue>Getting List of Required Parts</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_ID__c</field>
            <value>
                <elementReference>curRepairProcedure.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Name__c</field>
            <value>
                <stringValue>Repair Procedure</stringValue>
            </value>
        </inputAssignments>
        <object>OrchestrationStatusUpdate__e</object>
    </recordCreates>
    <recordCreates>
        <name>Update_Orchestration_0_0</name>
        <label>Update Orchestration</label>
        <locationX>10</locationX>
        <locationY>374</locationY>
        <inputAssignments>
            <field>Label__c</field>
            <value>
                <stringValue>Completed Repair Procedure Analysis</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_ID__c</field>
            <value>
                <elementReference>curRepairProcedure.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Name__c</field>
            <value>
                <stringValue>Repair Procedure</stringValue>
            </value>
        </inputAssignments>
        <object>OrchestrationStatusUpdate__e</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Inventory_Status</name>
        <label>Get Inventory Status</label>
        <locationX>126</locationX>
        <locationY>482</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Take_Action_If_Out_of_Stock</targetReference>
        </connector>
        <filters>
            <field>RepairPart__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>curRequiredPart.AnotherRepairPartLookup__c</elementReference>
            </value>
        </filters>
        <object>InventoryReport__c</object>
        <outputReference>curInventoryStatus</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>InventoryStatus__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>RepairPart__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Required_Parts</name>
        <label>Get Required Parts</label>
        <locationX>288</locationX>
        <locationY>182</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Orchestration_0</targetReference>
        </connector>
        <filters>
            <field>RepairProcedure__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>curRepairProcedure.Id</elementReference>
            </value>
        </filters>
        <object>RequiredPart__c</object>
        <outputReference>NeededParts</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>AnotherRepairPartLookup__c</queriedFields>
        <queriedFields>RepairProcedure__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Load_Repair_Procedure</name>
        <label>Load Current Repair Procedure</label>
        <locationX>29</locationX>
        <locationY>60</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Orchestration</targetReference>
        </connector>
        <filters>
            <field>Issue__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Worn_Brake_Rotor</stringValue>
            </value>
        </filters>
        <object>RepairProcedure__c</object>
        <outputReference>curRepairProcedure</outputReference>
        <queriedFields>Name</queriedFields>
        <queriedFields>Model__c</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>Category__c</queriedFields>
    </recordLookups>
    <startElementReference>Load_Repair_Procedure</startElementReference>
    <variables>
        <name>curAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>curCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>curInventoryStatus</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>InventoryReport__c</objectType>
    </variables>
    <variables>
        <name>curPart</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RepairPart__c</objectType>
    </variables>
    <variables>
        <name>curRepairPart</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RepairPart__c</objectType>
    </variables>
    <variables>
        <name>curRepairProcedure</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RepairProcedure__c</objectType>
    </variables>
    <variables>
        <name>curRequiredPart</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RequiredPart__c</objectType>
    </variables>
    <variables>
        <name>curVehicles</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>NeededParts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RequiredPart__c</objectType>
    </variables>
    <variables>
        <name>ProcedureListJSON</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RepairOutputString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SelectedProcedures</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RepairProcedure__c</objectType>
    </variables>
    <variables>
        <name>selectedVehicle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>selectedVehicleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>selectedVehicleSerialNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>thePart</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RepairPart__c</objectType>
    </variables>
</Flow>
