force-app/main/default/flows/Create_Repair-1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>Electrical_Fault_in_Brake_Sensor</name>
        <choiceText>Electrical Fault in Brake Sensor</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Electrical_Fault_in_Brake_Sensor</stringValue>
        </value>
    </choices>
    <choices>
        <name>Worn_Brake_Disc</name>
        <choiceText>Worn Brake Disc</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Worn_Brake_Disc</stringValue>
        </value>
    </choices>
    <choices>
        <name>Worn_Brake_Rotor</name>
        <choiceText>Worn Brake Rotor</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Worn_Brake_Rotor</stringValue>
        </value>
    </choices>
    <dynamicChoiceSets>
        <name>OwnedVehicles</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>curAccount.Id</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <outputAssignments>
            <assignToReference>selectedVehicleId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>selectedVehicleSerialNumber</assignToReference>
            <field>SerialNumber</field>
        </outputAssignments>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Create Repair {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Repair</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Orchestration</name>
        <label>Create Orchestration</label>
        <locationX>322</locationX>
        <locationY>153</locationY>
        <assignRecordIdToReference>OrchestrationId</assignRecordIdToReference>
        <connector>
            <targetReference>CreateRepair</targetReference>
        </connector>
        <inputAssignments>
            <field>Label__c</field>
            <value>
                <stringValue>Repair Service Case</stringValue>
            </value>
        </inputAssignments>
        <object>Orchestration__c</object>
    </recordCreates>
    <recordCreates>
        <name>Generate_Orchestration_Update</name>
        <label>Generate Orchestration Update</label>
        <locationX>614</locationX>
        <locationY>58</locationY>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Foobar</stringValue>
            </value>
        </inputAssignments>
        <object>OrchestrationStatusUpdate__e</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>185</locationX>
        <locationY>61</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Vehicles</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>curCase.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>curAccount</outputReference>
        <queriedFields>Name</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>Type</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>52</locationX>
        <locationY>63</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>curCase</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Vehicles</name>
        <label>Get Vehicles</label>
        <locationX>319</locationX>
        <locationY>58</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Orchestration</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>curAccount.Id</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <outputReference>curVehicles</outputReference>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>SerialNumber</queriedFields>
    </recordLookups>
    <screens>
        <name>CreateRepair</name>
        <label>CreateRepair</label>
        <locationX>475</locationX>
        <locationY>59</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Generate_Orchestration_Update</targetReference>
        </connector>
        <fields>
            <name>script1</name>
            <extensionName>c:scriptDisplayFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>callscript</name>
                <value>
                    <stringValue>Verify the customer and select a vehicle</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Select_Vehicle</name>
            <choiceReferences>OwnedVehicles</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Vehicle</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_Case</startElementReference>
    <variables>
        <name>curAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>curCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>curInventoryStatus</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>InventoryReport__c</objectType>
    </variables>
    <variables>
        <name>curPart</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RepairPart__c</objectType>
    </variables>
    <variables>
        <name>curRepairPart</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RepairPart__c</objectType>
    </variables>
    <variables>
        <name>curRepairProcedure</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RepairProcedure__c</objectType>
    </variables>
    <variables>
        <name>curRequiredPart</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RequiredPart__c</objectType>
    </variables>
    <variables>
        <name>curVehicles</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>NeededParts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RequiredPart__c</objectType>
    </variables>
    <variables>
        <name>OrchestrationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProcedureListJSON</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RepairOutputString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SelectedProcedures</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RepairProcedure__c</objectType>
    </variables>
    <variables>
        <name>selectedVehicle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>selectedVehicleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>selectedVehicleSerialNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>thePart</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RepairPart__c</objectType>
    </variables>
</Flow>
