force-app/main/default/flows/CreateEstimate-30.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Alert_Ordering</name>
        <label>Alert Ordering</label>
        <locationX>620</locationX>
        <locationY>687</locationY>
        <actionName>c:showToast</actionName>
        <actionType>localAction</actionType>
        <connector>
            <targetReference>Generate_Part_Order_Request</targetReference>
        </connector>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Making an order</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>c</name>
        <label>c</label>
        <locationX>457</locationX>
        <locationY>170</locationY>
        <actionName>GetProc5_cool__Service</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>dfg</targetReference>
        </connector>
        <inputParameters>
            <name>searchString</name>
            <value>
                <stringValue>sdf</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>RepairOutputString</assignToReference>
            <name>cool_output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>dfg</name>
        <label>Get Procedures from CarServe</label>
        <locationX>612</locationX>
        <locationY>178</locationY>
        <actionName>GetProc5_all_procedures__Service</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SelectRepairIssue</targetReference>
        </connector>
        <inputParameters>
            <name>xsearchString</name>
            <value>
                <stringValue>fgfgfg</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>ProcedureListJSON</assignToReference>
            <name>all_procedures_output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Signal_Completion</name>
        <label>Signal Completion</label>
        <locationX>0</locationX>
        <locationY>581</locationY>
        <actionName>c:showToast</actionName>
        <actionType>localAction</actionType>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Initiate Estimate Flow Underway</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <choices>
        <name>Electrical_Fault_in_Brake_Sensor</name>
        <choiceText>Electrical Fault in Brake Sensor</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Electrical_Fault_in_Brake_Sensor</stringValue>
        </value>
    </choices>
    <choices>
        <name>Worn_Brake_Disc</name>
        <choiceText>Worn Brake Disc</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Worn_Brake_Disc</stringValue>
        </value>
    </choices>
    <choices>
        <name>Worn_Brake_Rotor</name>
        <choiceText>Worn Brake Rotor</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Worn_Brake_Rotor</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Take_Action_If_Out_of_Stock</name>
        <label>Take Action If Out of Stock</label>
        <locationX>357</locationX>
        <locationY>680</locationY>
        <defaultConnector>
            <targetReference>Request_Unavailable_Parts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Part In Stock</defaultConnectorLabel>
        <rules>
            <name>Initiate_Procurement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>curInventoryStatus.InventoryStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Out_of_Stock</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ysdispl</targetReference>
            </connector>
            <label>Initiate Procurement</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>OwnedVehicles</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>curAccount.Id</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <outputAssignments>
            <assignToReference>selectedVehicleId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>selectedVehicleSerialNumber</assignToReference>
            <field>SerialNumber</field>
        </outputAssignments>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <interviewLabel>CreateEstimate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CreateEstimate</label>
    <loops>
        <name>Request_Unavailable_Parts</name>
        <label>Obtain Parts</label>
        <locationX>149</locationX>
        <locationY>472</locationY>
        <assignNextValueToReference>curRequiredPart</assignNextValueToReference>
        <collectionReference>NeededParts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Inventory_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Signal_Completion</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordCreates>
        <name>Generate_Part_Order_Request</name>
        <label>Generate Part Order Request</label>
        <locationX>742</locationX>
        <locationY>606</locationY>
        <connector>
            <targetReference>Request_Unavailable_Parts</targetReference>
        </connector>
        <inputAssignments>
            <field>RepairPartId__c</field>
            <value>
                <elementReference>curRequiredPart.AnotherRepairPartLookup__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Repair_Part_Name__c</field>
            <value>
                <elementReference>curRequiredPart.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RequestType__c</field>
            <value>
                <stringValue>Estimate</stringValue>
            </value>
        </inputAssignments>
        <object>ElectronPartOrderRequest__e</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>185</locationX>
        <locationY>61</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Vehicles</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>curCase.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>curAccount</outputReference>
        <queriedFields>Name</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>Type</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>52</locationX>
        <locationY>63</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>curCase</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Inventory_Status</name>
        <label>Get Inventory Status</label>
        <locationX>146</locationX>
        <locationY>583</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Take_Action_If_Out_of_Stock</targetReference>
        </connector>
        <filters>
            <field>RepairPart__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>curRequiredPart.AnotherRepairPartLookup__c</elementReference>
            </value>
        </filters>
        <object>InventoryReport__c</object>
        <outputReference>curInventoryStatus</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>InventoryStatus__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>RepairPart__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Required_Parts</name>
        <label>Get Required Parts</label>
        <locationX>507</locationX>
        <locationY>374</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ysdispl_0</targetReference>
        </connector>
        <filters>
            <field>RepairProcedure__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>curRepairProcedure.Id</elementReference>
            </value>
        </filters>
        <object>RequiredPart__c</object>
        <outputReference>NeededParts</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>AnotherRepairPartLookup__c</queriedFields>
        <queriedFields>RepairProcedure__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Vehicles</name>
        <label>Get Vehicles</label>
        <locationX>319</locationX>
        <locationY>58</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateRepairEstimate</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>curAccount.Id</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <outputReference>curVehicles</outputReference>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>SerialNumber</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Load_Repair_Procedure</name>
        <label>Load Current Repair Procedure</label>
        <locationX>664</locationX>
        <locationY>268</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Required_Parts</targetReference>
        </connector>
        <filters>
            <field>Issue__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedProcedureName</elementReference>
            </value>
        </filters>
        <object>RepairProcedure__c</object>
        <outputReference>curRepairProcedure</outputReference>
        <queriedFields>Name</queriedFields>
        <queriedFields>Model__c</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>Category__c</queriedFields>
    </recordLookups>
    <screens>
        <name>CreateRepairEstimate</name>
        <label>CreateRepairEstimate</label>
        <locationX>446</locationX>
        <locationY>59</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>c</targetReference>
        </connector>
        <fields>
            <name>script1</name>
            <extensionName>c:scriptDisplayFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>callscript</name>
                <value>
                    <stringValue>Verify the customer and select a vehicle</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Select_Vehicle</name>
            <choiceReferences>OwnedVehicles</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Vehicle</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SelectRepairIssue</name>
        <label>Select Repair Issue</label>
        <locationX>763</locationX>
        <locationY>181</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Load_Repair_Procedure</targetReference>
        </connector>
        <fields>
            <name>displaystatus</name>
            <fieldText>Account:  {!curAccount.Name}

Selected Vehicle:
ID: {!selectedVehicleId}
Serial: {!selectedVehicleSerialNumber}

Cool Results: {!RepairOutputString}

Procedures: {!ProcedureListJSON}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SelectedProcedureName</name>
            <choiceReferences>Worn_Brake_Rotor</choiceReferences>
            <choiceReferences>Worn_Brake_Disc</choiceReferences>
            <choiceReferences>Electrical_Fault_in_Brake_Sensor</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Issue</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ysdispl</name>
        <label>displ</label>
        <locationX>500</locationX>
        <locationY>779</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Alert_Ordering</targetReference>
        </connector>
        <fields>
            <name>sdf</name>
            <fieldText>for repair part:
{!curInventoryStatus.RepairPart__c}

status is:
{!curInventoryStatus.InventoryStatus__c}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ysdispl_0</name>
        <label>displsdfdsf</label>
        <locationX>788</locationX>
        <locationY>381</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Request_Unavailable_Parts</targetReference>
        </connector>
        <fields>
            <name>sdf_0</name>
            <fieldText>current required parts are is:
{!NeededParts}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_Case</startElementReference>
    <variables>
        <name>curAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>curCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>curInventoryStatus</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>InventoryReport__c</objectType>
    </variables>
    <variables>
        <name>curPart</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RepairPart__c</objectType>
    </variables>
    <variables>
        <name>curRepairPart</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RepairPart__c</objectType>
    </variables>
    <variables>
        <name>curRepairProcedure</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RepairProcedure__c</objectType>
    </variables>
    <variables>
        <name>curRequiredPart</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RequiredPart__c</objectType>
    </variables>
    <variables>
        <name>curVehicles</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>NeededParts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RequiredPart__c</objectType>
    </variables>
    <variables>
        <name>ProcedureListJSON</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RepairOutputString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SelectedProcedures</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RepairProcedure__c</objectType>
    </variables>
    <variables>
        <name>selectedVehicle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>selectedVehicleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>selectedVehicleSerialNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>thePart</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RepairPart__c</objectType>
    </variables>
</Flow>
