force-app/main/default/flows/CreateEstimate-17.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>c</name>
        <label>c</label>
        <locationX>457</locationX>
        <locationY>170</locationY>
        <actionName>GetProc5_cool__Service</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>dfg</targetReference>
        </connector>
        <inputParameters>
            <name>searchString</name>
            <value>
                <stringValue>sdf</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>RepairOutputString</assignToReference>
            <name>cool_output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>dfg</name>
        <label>Get Procedures from CarServe</label>
        <locationX>604</locationX>
        <locationY>201</locationY>
        <actionName>GetProc5_all_procedures__Service</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>TestDisplay</targetReference>
        </connector>
        <inputParameters>
            <name>xsearchString</name>
            <value>
                <stringValue>fgfgfg</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>ProcedureListJSON</assignToReference>
            <name>all_procedures_output</name>
        </outputParameters>
    </actionCalls>
    <dynamicChoiceSets>
        <name>OwnedVehicles</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>curAccount.Id</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <outputAssignments>
            <assignToReference>selectedVehicleId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>selectedVehicleSerialNumber</assignToReference>
            <field>SerialNumber</field>
        </outputAssignments>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <interviewLabel>CreateEstimate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CreateEstimate</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>185</locationX>
        <locationY>61</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Vehicles</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>curCase.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>curAccount</outputReference>
        <queriedFields>Name</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>Type</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>52</locationX>
        <locationY>63</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>curCase</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Vehicles</name>
        <label>Get Vehicles</label>
        <locationX>319</locationX>
        <locationY>58</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateRepairEstimate</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>curAccount.Id</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <outputReference>curVehicles</outputReference>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>SerialNumber</queriedFields>
    </recordLookups>
    <screens>
        <name>CreateRepairEstimate</name>
        <label>CreateRepairEstimate</label>
        <locationX>446</locationX>
        <locationY>59</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>c</targetReference>
        </connector>
        <fields>
            <name>script1</name>
            <extensionName>c:scriptDisplayFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>callscript</name>
                <value>
                    <stringValue>Verify the customer and select a vehicle</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Select_Vehicle</name>
            <choiceReferences>OwnedVehicles</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Vehicle</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Procedure</name>
        <label>Select Procedure</label>
        <locationX>665</locationX>
        <locationY>317</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>TestDisplay2</targetReference>
        </connector>
        <fields>
            <name>SelectRepairs</name>
            <extensionName>c:datatableFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>inputVehicleJSON</name>
                <value>
                    <elementReference>ProcedureListJSON</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedProcedures</assignToReference>
                <name>selectedRecords</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>TestDisplay</name>
        <label>TestDisplay</label>
        <locationX>763</locationX>
        <locationY>181</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Select_Procedure</targetReference>
        </connector>
        <fields>
            <name>displaystatus</name>
            <fieldText>Account:  {!curAccount.Name}

Selected Vehicle:
ID: {!selectedVehicleId}
Serial: {!selectedVehicleSerialNumber}

Cool Results: {!RepairOutputString}

Procedures: {!ProcedureListJSON}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>TestDisplay2</name>
        <label>TestDisplay2</label>
        <locationX>624</locationX>
        <locationY>422</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>showProcedures</name>
            <fieldText>Selected Rows are:
{!SelectedProcedures}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_Case</startElementReference>
    <variables>
        <name>curAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>curCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>curVehicles</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>ProcedureListJSON</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RepairOutputString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SelectedProcedures</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RepairProcedure__c</objectType>
    </variables>
    <variables>
        <name>selectedVehicle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>selectedVehicleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>selectedVehicleSerialNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
